.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__progress {
  position: relative;
  width: 20rem;
  height: 1lh;
  border-radius: 0.5em;
  border: 2px solid var(--color-orange60);
}

.loader__progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-orange50);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255, 255, 255, 0.3) 8px, rgba(255, 255, 255, 0.3) 16px);
  box-shadow: inset -0.25em -0.25em 0.5em rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.loader__progress_value {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.loader__message {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  height: 1lh;
}
