.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__progress {
  position: relative;
  width: 20rem;
  height: 1lh;
  border: 1px solid var(--color-orange60);
}

.loader__progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-orange50);
}

.loader__progress_value {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.loader__message {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  height: 1lh;
}
