.caught {
  display: flex;
  align-items: center;
}

.spoil {
  width: 2em;
  height: 2em;
  margin-left: 0.25em;
}

.spoil img {
  margin: 0.25em;
  width: 1.5em;
  height: 1.5em;
  transform-origin: center;
}

.bounce {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
