.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  background-repeat: no-repeat;
  background-image: url(./images/cover_720.jpg);
  background-size: contain;
}

.header {
  display: flex;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.menu__item {
  margin-top: 0.75em;
  display: flex;
  align-items: center;
}

.menu__item button {
  pointer-events: all;
  font-size: 1.25em;
  padding: 0.25em 2em;
  background-color: var(--color-orange70);
  border-radius: 1em;
  border: 2px solid var(--color-orange60);
  transition: background-color 0.2s linear, border-color 0.2s linear;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  box-shadow: inset -0.15em -0.15em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &>img {
    width: 1em;
    height: 1em;
  }
}

.paw {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.25em;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.menu__item.hover {
  & button {
    background-color: var(--color-orange60);
    border-color: var(--color-orange50);
  }

  & .paw {
    opacity: 1;
  }
}

.level {
  position: relative;
  width: 75%;
  height: 100%;
}

.level__thumb {
  position: absolute;
  aspect-ratio: 4/3;
  background-color: var(--color-orange80);
  border-radius: 20% 20% 20% 20% / 18% 18% 18% 18%;
  border: 2px solid var(--color-orange70);
  box-sizing: border-box;
  transition: transform 0.25s ease-in;

  &:hover {
    z-index: 1;
    transform: translateX(15%);
  }
}

.scene {
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scene__spoil {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;

  & img {
    width: 2em;
    height: 2em;
  }
}

.version {
  position: absolute;
  left: 1.5em;
  bottom: 0.75em;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.gamepad_support {
  position: absolute;
  right: 6em;
  bottom: 0.75em;
  width: 4em;
  height: 4em;
  background-image: url('./images/gamepad.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4em;

  & img {
    display: none;
    width: 2.5em;
    height: 2.5em;
    margin: 1em 0 0 1.5em;
  }

  &.active img {
    display: block
  }
}
