.weather {
  z-index: 5;
}

.menu {
  z-index: 20;
}

.single-ui {
  z-index: 21;
}

.multiplayer-ui {
  z-index: 21;
}

.pause {
  z-index: 22;
}

.about {
  z-index: 22;
}

.scene {
  z-index: 22;
}

.two_players {
  z-index: 22;
}

.win {
  z-index: 23;
}

.settings {
  z-index: 23;
}

.upgrade {
  z-index: 23;
}

.confirmation {
  z-index: 23;
}
