.outer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0004;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.inner {
  position: relative;
  color: var(--color-blue10);
  width: 40%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75em;
  border: 2px solid var(--color-orange70);
  background-color: var(--color-orange80);
  background-image: url('./images/line.svg');
  transform-origin: center;
  border-radius: 20% 20% 20% 20% / 18% 18% 18% 18%;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.4);

  & h3 {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }
}

.bounce {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
