.outer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0004;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.inner {
  position: relative;
  color: var(--color-blue10);
  width: 40%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  border: 2px solid var(--color-orange70);
  background-color: var(--color-orange80);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='4' viewBox='0 0 100 4' fill='none'%3E%3Cline y1='1.17' x2='100' y2='1.17' opacity='.05' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E");
  transform-origin: center;
  border-radius: 20% 20% 20% 20% / 18% 18% 18% 18%;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.4);

  &.small {
    width: 30%;
  }
}

.dummy {
  height: 2.25em;
}

.btns {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.button {
  color: #fff;
  pointer-events: all;
  margin: 0 0 2rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 1.5em;
  background-color: var(--color-orange70);
  border-radius: 2em;
  border: 2px solid var(--color-orange60);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  transition: background-color 0.2s linear, border-color 0.2s linear;
  box-shadow: inset -0.15em -0.15em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &>span {
    font-size: 1.25em;
  }

  &>img {
    width: 1.25em;
    height: 1.25em;
  }

  &:hover {
    background-color: var(--color-orange60);
    border-color: var(--color-orange50);
  }
}

.bounce {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
