.header {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  & .icon {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-blue10);
    mask-size: cover;
  }
}

.outer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0004;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.inner {
  position: relative;
  color: var(--color-blue10);
  width: 40%;
  aspect-ratio: 4/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
  transform-origin: center;

  &.small {
    width: 30%;
  }

  &.large {
    width: 50%;
  }
}

.inner__border {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-orange70);
}

.inner__bg {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--color-orange80);
  background-image: repeating-linear-gradient(0deg, transparent, transparent 2px, rgba(0, 0, 0, 0.1) 2px, rgba(0, 0, 0, 0.1) 4px);
  background-repeat: no-repeat;
  background-size: cover;
}

.inner__mask {
  mask-image: url('./images/crt.svg');
  mask-size: 100%;
  mask-repeat: no-repeat;
}

.inner__shadow {
  border-radius: 20% 20% 20% 20% / 18% 18% 18% 18%;
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.4);
}

.inner__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
}

.dummy {
  height: 2.25em;
}

.btns {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.button {
  color: #fff;
  pointer-events: all;
  margin: 0 0 2rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 1.5em;
  background-color: var(--color-orange70);
  border-radius: 2em;
  border: 2px solid var(--color-orange60);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;
  transition: background-color 0.2s linear, border-color 0.2s linear;
  box-shadow: inset -0.15em -0.15em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &>span {
    font-size: 1.25em;
  }

  &>img {
    width: 1.25em;
    height: 1.25em;
  }

  &:hover {
    background-color: var(--color-orange60);
    border-color: var(--color-orange50);
  }
}

.bounce {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.25);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
