.ui {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-blue90);
  pointer-events: none;
}

.ui.center {
  justify-content: center;
}

.ui__top {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.ui__bot {
  position: absolute;
  left: 1rem;
  top: calc(50% + 1rem);
}

.finish {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-weight: 600;
}

.finish.top {
  top: calc(25% - 1em);
}

.finish.bot {
  top: calc(75% - 1em);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.middle {
  text-align: center;
}

.sequence {
  font-size: 7em;
  font-weight: 600;
}

.level,
.score {
  font-size: 1.25em;
  color: var(--color-orange70);
  font-weight: 600;
  text-shadow: none;
  transform-origin: left;
}

.combo {
  font-size: 1.25em;
  color: yellow;
  transform-origin: left;
}

.progress {
  position: relative;
  width: 10em;
  height: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.25em;
  border: 2px solid var(--color-orange60);
}

.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-orange50);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 8px, rgba(255, 255, 255, 0.3) 8px, rgba(255, 255, 255, 0.3) 16px);
  box-shadow: inset -0.15em -0.15em 0.25em rgba(0, 0, 0, 0.5);
  border-radius: 0.25em;
}

.bounce {
  animation: bounce 0.3s ease-out;
}

@keyframes bounce {
  0% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
