.weather {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}

.weather__leaf {
  position: absolute;
  will-change: transform;
  left: 0;
}
