.header {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  &>img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(1);
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__element {
  position: relative;
  margin-left: -2.25em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  cursor: pointer;

  & .icon {
    width: 1.5em;
    height: 1.5em;
  }

  &.hover {
    .paw {
      opacity: 1;
    }

    .description {
      opacity: 1;
    }
  }
}

.list__element:not(:first-of-type) {
  margin-top: 1em;
}

.description {
  position: absolute;
  top: 1.5em;
  left: 4.5em;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.25s linear;

  & span {
    font-size: 0.75em;
  }
}

.paw {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.25em;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.grade {
  display: flex;
  column-gap: 0.25em;
  width: 3.75em;
}

.grade__square {
  width: 0.5em;
  box-sizing: border-box;
  height: 1em;
  border: 2px solid var(--color-orange70);

  &.active {
    background-color: var(--color-orange70);
  }
}

.materials {
  display: flex;
  align-items: center;

  &>img {
    width: 1.25em;
    height: 1.25em;
  }

  &>span {
    width: 2em;
  }
}
