.header {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__element {
  position: relative;
  margin-left: -2.25em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  cursor: pointer;
}

.list__element .icon {
  width: 1.5em;
  height: 1.5em;
}


.list__element.hover .paw {
  opacity: 1;
}

.list__element.hover .description {
  opacity: 1;
}

.list__element:not(:first-of-type) {
  margin-top: 1em;
}

.description {
  position: absolute;
  top: 1.5em;
  left: 4.5em;
  line-height: 1;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.description>span {
  font-size: 0.625em;
}

.paw {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.25em;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.grade {
  display: flex;
  column-gap: 0.25em;
  width: 3.75em;
}

.grade__square {
  width: 0.5em;
  box-sizing: border-box;
  height: 1em;
  border: 2px solid var(--color-orange70);
}

.grade__square.active {
  background-color: var(--color-orange70);
}

.materials {
  display: flex;
  align-items: center;
}

.materials>img {
  width: 1.25em;
  height: 1.25em;
}

.materials>span {
  width: 2em;
}
