.copy_link {
  position: relative;
  text-decoration: underline;
  pointer-events: all;
  cursor: pointer;
}

.copy_link__msg {
  position: absolute;
  right: 0;
  top: -2em;
  font-size: 0.75em;
  background-color: #888;
  text-align: center;
  border-radius: 6px;
  padding: 0.25em 0.75em;
  opacity: 0;
  z-index: 2;
}

.copy_link__msg::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #888 transparent transparent;
}

.copy_link__msg.show {
  animation: show 2.5s forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
  }
}
