.header {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  &>img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(1);
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list__element {
  margin: 0.375em 0 0 -2.25em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.list__element input[type="range"] {
  font-size: inherit;
  width: 10em;
}

.list__element label {
  display: flex;
  align-items: center;

  &>img {
    width: 1.5em;
    height: 1.5em;
  }
}

.flag_list {
  display: flex;
}

.flag {
  width: 2em;
  height: 1.5em;
  box-sizing: border-box;
  padding: 0.1em;
  border: 2px solid transparent;
  border-radius: 0.2em;
  cursor: pointer;
  transition: transform 0.25s linear;

  &.selected {
    border-color: var(--color-orange70);
  }

  &:hover {
    transform: translateY(-5%);
  }
}

.paw {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.25em;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.list__element.hover {
  & button {
    background-color: var(--color-orange60);
    border-color: var(--color-orange70);
  }

  & .paw {
    opacity: 1;
  }
}
