.list {
  list-style: none;
  margin: 1.5em 0 0;
  padding: 0;
}

.list__element {
  margin: 0.375em 0;
}

.list__element input[type="range"] {
  font-size: inherit;
  width: 10em;
}

.list__element label {
  display: flex;
  align-items: center;

  &>img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
  }
}

.flag_list {
  display: flex;
}

.flag {
  width: 2em;
  height: 1.5em;
  box-sizing: border-box;
  padding: 0.1em;
  border: 2px solid transparent;
  border-radius: 0.2em;
  cursor: pointer;
  transition: transform 0.25s linear;

  &.selected {
    border-color: var(--color-orange70);
  }

  &:hover {
    transform: translateY(-5%);
  }
}
