.global_layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-blue90);
  pointer-events: none;
}

.row_upper {
  display: flex;
  justify-content: center;
}

.row_bottom {
  display: flex;
  justify-content: flex-end;
}
