.achievements {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
}

.item {
  --size: 2.5em;
  --color: #888;
  position: relative;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--color-orange70);
  background-color: var(--color);
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
}

.numerator {
  font-size: 2em;
  font-weight: 600;
  color: #fff;
  text-shadow: var(--color) -2px -2px 0px, var(--color) 2px -2px 0px, var(--color) -2px 2px 0px, var(--color) 2px 2px 0px;
  z-index: 1;
}

.tooltip {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  font-size: small;
  background-color: #ccc;
  min-width: 16em;
  padding: 0.25em;
  opacity: 0;
  transition: opacity 0.25s linear;
  pointer-events: none;
  z-index: 2;
}

.item:hover .tooltip {
  opacity: 1;
}
