.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0004;
}

.results {
  margin-bottom: 1em;
}

.stars {
  height: 2em;
  text-align: center;

  &>img {
    margin: 0.25em;
    width: 1.5em;
    height: 1.5em;
  }
}
